.label {
  font-size: 12px;
  color: gray;
  margin-right: 10px;
}

.intro {
  font-size: 10px;
  color: rgb(159, 159, 159);
  margin-left: 35px;
  margin-bottom: 15px;
}

.signupContainer {
  margin-left: 35px;
  margin-bottom: 2px;
}
