.container {
  /* 크기 */
  width: 18rem;
  height: 23rem;
  padding: 0.6rem;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  /* 화면 정중앙 배치 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
