/*******************************
*  Top Container
********************************/
.containerTitle {
  margin-top: 10px;
}

.flexContainer {
  display: flex;
  gap: 70px;
  margin-top: 50px;
  height: 340px;
}

.topContent {
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

.sliderContainer {
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden; /* 슬라이더 내부 요소가 넘치지 않도록 설정 */
}

.sliderContainer img {
  margin: 0 auto;
  width: auto;
  height: 220px;
}

.topSearchStoreList {
  list-style: disc inside;
  margin: 16px 0;
  padding-left: 20px;
}

.topSearchStore {
  margin-top: 25px;
  width: 50%;
  float: left;
}

.storeRegion {
  margin-top: 8px;
  color: #878787;
  margin-left: 20px;
  font-size: 14px;
}

:global(.slick-slider) {
  margin-top: 15px;
}

:global(.slick-dots) {
  bottom: -40px;
}

:global(.slick-dots li) {
  margin: 0;
}

/*******************************
*  Store Container
********************************/
.storeContainer {
  margin-top: 50px;
}

.storeListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 70px;
  padding: 70px;
}

.storeList {
  margin: 0 auto;
}

.storeListImage {
  width: 100%;
  max-width: 350px;
}

.storeListName {
  text-align: center;
  margin-top: 10px;
}
