.button {
    width: 70px;
    height: 25px;
    background-color: #d8b2b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.button:hover {
    background-color: #c49292; /* 마우스 호버 효과 */
}
