/* 초기화 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* 기본 태그 스타일 */
a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
  &:hover {
    color: #696969;
  }
}
